In [ ]:
import tmdbsimple as tmdb

tmdb.API_KEY = '{api_key}'

def movie_meta_data(movie_id):
    movie = tmdb.Movies(movie_id)
    response = movie.info()

    # Construct the complete poster URL
    base_url = 'https://image.tmdb.org/t/p/w500'
    poster_path = response['poster_path']
    movie_poster = f"{base_url}{poster_path}"

    title = response['title']
    summary = response['overview']

    genres = response['genres']
    genre_names = [genre['name'] for genre in genres]  # Extract genre names
    genre_text = ", ".join(genre_names)

    trailers = movie.videos()  # Get available videos
    youtube_trailer_key = trailers['results'][0]['key']  # Assuming the first result is a YouTube trailer
    youtube_trailer_url = f"https://www.youtube.com/watch?v={youtube_trailer_key}"

    # Fetching movie rating
    rating = response['vote_average']

    return [title, summary, movie_poster, youtube_trailer_url, genre_text, rating]


def director_meta_data(movie_id):
  tmdb.API_KEY = 'b4f4e5073f49c9bba30dd68659314a41'
  movie = tmdb.Movies(movie_id)

  # Get movie credits
  credits = movie.credits()

  # Extract director name and their TMDb ID
  director_name = credits['crew'][0]['name']
  director_id = credits['crew'][0]['id']

  # Get director details (including profile image path)
  director_details = tmdb.People(director_id).info()  # Use People instead of Persons
  director_profile_path = director_details['profile_path']

  # Construct director's image URL
  director_url = f"https://image.tmdb.org/t/p/w500{director_profile_path}"

  return [director_name, director_url]



def cast_meta_data(movie_id):
  tmdb.API_KEY = 'b4f4e5073f49c9bba30dd68659314a41'  # Replace with your actual API key

  movie = tmdb.Movies(movie_id)

  # Get movie credits
  credits = movie.credits()

  # Get top 5 cast members with images
  cast = credits['cast'][:5]  # Get the first 5 cast members
  top_cast = []
  for person in cast:
      profile_path = person['profile_path']  # Get profile image path
      profile_url = f"https://image.tmdb.org/t/p/w500{profile_path}"  # Construct full URL
      top_cast.append({
          'name': person['name'],
          'character': person['character'],
          'profile_url': profile_url
      })
  return top_cast

In [ ]:
movie_meta_data('tt14174940')

['Interceptor',
 'A U.S. Army Captain uses her years of tactical training to save humanity from sixteen nuclear missiles launched at the U.S. as a violent attack threatens her remote missile interceptor station.',
 'https://image.tmdb.org/t/p/w500/cpWUtkcgRKeauhTyVMjYHxAutp4.jpg',
 'https://www.youtube.com/watch?v=4_fNeiD0Uwk',
 'Action, Thriller, Adventure']

In [1]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.16)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2023.11.17)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.6)

In [3]:
import os

# Move the uploaded API key to the correct directory
os.makedirs("/root/.kaggle", exist_ok=True)
os.rename("kaggle.json", "/root/.kaggle/kaggle.json")

# Set file permissions for the API key
os.chmod("/root/.kaggle/kaggle.json",600)

In [4]:
!kaggle datasets download -d  utsh0dey/25k-movie-dataset
!unzip /content/25k-movie-dataset.zip

Downloading 25k-movie-dataset.zip to /content
  0% 0.00/4.67M [00:00<?, ?B/s]
100% 4.67M/4.67M [00:00<00:00, 51.3MB/s]
Archive:  /content/25k-movie-dataset.zip
  inflating: 25k IMDb movie Dataset.csv

In [218]:
# importing dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [308]:
df=pd.read_csv('/content/25k IMDb movie Dataset.csv')

In [309]:
df.head(4)

,movie title,Run Time,Rating,User Rating,Generes,Overview,Plot Kyeword,Director,Top 5 Casts,Writer,year,path
0,Top Gun: Maverick,"$170,000,000 (estimated)",8.6,187K,"['Action', 'Drama']",After more than thirty years of service as one...,"['fighter jet', 'sequel', 'u.s. navy', 'fighte...",Joseph Kosinski,"['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',...",Jim Cash,-2022,/title/tt1745960/
1,Jurassic World Dominion,2 hours 27 minutes,6,56K,"['Action', 'Adventure', 'Sci-Fi']",Four years after the destruction of Isla Nubla...,"['dinosaur', 'jurassic park', 'tyrannosaurus r...",Colin Trevorrow,"['Colin Trevorrow', 'Derek Connolly', 'Chris P...",Emily Carmichael,-2022,/title/tt8041270/
2,Top Gun,"$15,000,000 (estimated)",6.9,380K,"['Action', 'Drama']",As students at the United States Navy's elite ...,"['pilot', 'male camaraderie', 'u.s. navy', 'gr...",Tony Scott,"['Jack Epps Jr.', 'Ehud Yonay', 'Tom Cruise', ...",Jim Cash,-1986,/title/tt0092099/
3,Lightyear,"$71,101,257",5.2,32K,"['Animation', 'Action', 'Adventure']",While spending years attempting to return home...,"['galaxy', 'spaceship', 'robot', 'rocket', 'sp...",Angus MacLane,"['Jason Headley', 'Matthew Aldrich', 'Chris Ev...",Angus MacLane,-2022,/title/tt10298810/

In [310]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24402 entries, 0 to 24401
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie title   24402 non-null  object
 1   Run Time      24402 non-null  object
 2   Rating        24402 non-null  object
 3   User Rating   24402 non-null  object
 4   Generes       24402 non-null  object
 5   Overview      24158 non-null  object
 6   Plot Kyeword  24402 non-null  object
 7   Director      24402 non-null  object
 8   Top 5 Casts   24402 non-null  object
 9   Writer        24402 non-null  object
 10  year          23624 non-null  object
 11  path          24402 non-null  object
dtypes: object(12)
memory usage: 2.2+ MB

In [222]:
df.isnull().sum()

movie title       0
Run Time          0
Rating            0
User Rating       0
Generes           0
Overview        244
Plot Kyeword      0
Director          0
Top 5 Casts       0
Writer            0
year            778
path              0
dtype: int64

In [223]:
# Droping Columns with no ratings
index=df[df['Rating']=='no-rating'].index
df.drop(index,axis=0,inplace=True)

In [224]:
# Assuming df is your DataFrame
df['year'] = df['year'].apply(lambda x: str(x).replace('-', '') if pd.notnull(x) and '-' in str(x) else x)

In [225]:
df['year'] = df['year'].apply(lambda x: str(x).replace('(I)', '') if pd.notnull(x) and '(I)' in str(x) else x)

In [226]:
df['year'] = df['year'].apply(lambda x: str(x).replace('(', '') if pd.notnull(x) and '(' in str(x) else x)

In [227]:
df['year'] = df['year'].apply(lambda x: str(x).replace(')', '') if pd.notnull(x) and ')' in str(x) else x)

In [228]:
df['year'] = df['year'].apply(lambda x: str(x).replace('I', '') if pd.notnull(x) and 'I' in str(x) else x)

In [229]:
df['year'] = df['year'].apply(lambda x: str(x).replace('V', '') if pd.notnull(x) and 'V' in str(x) else x)

In [230]:
df['year'] = pd.to_numeric(df['year'], errors='coerce').astype('Int64')

In [231]:
df = df[df['year']>=2000]

In [232]:
df.drop(labels=['Run Time','year','Writer'],axis=1,inplace=True)

In [233]:
df.dropna(inplace=True)

In [234]:
print(df['Overview'][0])
print(df['Generes'][0])
print(df['Plot Kyeword'][0])
print(df['Director'][0])
print(df['Top 5 Casts'][0])

After more than thirty years of service as one of the Navy's top aviators, Pete Mitchell is where he belongs, pushing the envelope as a courageous test pilot and dodging the advancement in rank that would ground
['Action', 'Drama']
['fighter jet', 'sequel', 'u.s. navy', 'fighter aircraft', 'pilot', 'naval aviation', 'jet fighter', 'military pilot', 'aviation', 'aircraft']
Joseph Kosinski
['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise', 'Jennifer Connelly', 'Miles Teller']

In [235]:
import ast

def convert_column_to_text(column_value):
  try:
    list_value = ast.literal_eval(column_value)
  except (ValueError, SyntaxError):
    return column_value

  return ", ".join(list_value)

In [236]:
df['Generes'] = df['Generes'].apply(convert_column_to_text)
df['Plot Kyeword'] = df['Plot Kyeword'].apply(convert_column_to_text)
df['Director'] = df['Director'].apply(convert_column_to_text)
df['Top 5 Casts'] = df['Top 5 Casts'].apply(convert_column_to_text)

In [237]:
df['tags'] = df['Overview']+". "+df['Plot Kyeword']+" "+df['Generes']+" "+df['Director']+" "+df['Top 5 Casts']

In [238]:
df = df[['movie title','Rating','User Rating','path','tags']]

In [239]:
df['path']=df['path'].str.split('/').apply(lambda text:text[-2])

In [240]:
df.rename(columns={'path':'movie_id', 'movie title':'title'},inplace=True)

In [241]:
df.drop(columns=['Rating'],axis=1,inplace=True)

In [242]:
df

,title,User Rating,movie_id,tags
0,Top Gun: Maverick,187K,tt1745960,After more than thirty years of service as one...
1,Jurassic World Dominion,56K,tt8041270,Four years after the destruction of Isla Nubla...
3,Lightyear,32K,tt10298810,While spending years attempting to return home...
4,Spiderhead,23K,tt9783600,"In the near future, convicts are offered the c..."
5,Everything Everywhere All at Once,124K,tt6710474,An aging Chinese immigrant is swept up in an i...
...,...,...,...,...
24390,The Producers,43K,tt0395251,"After putting together another Broadway flop, ..."
24391,Screwed,9.1K,tt0156323,A chauffeur kidnaps his rich boss's dog to hol...
24392,Home Sweet Home Alone,16K,tt11012066,A married couple tries to steal back a valuabl...
24393,Balls of Fury,43K,tt0424823,Down-and-out former professional ping-pong phe...
24398,Bitch Ass,52,tt13991504,A gang initiation goes wrong when a group of f...

In [243]:
df['User Rating'].unique()

array(['187K', '56K', '32K', ..., '785', '229', '954'], dtype=object)

In [244]:
def convert_user_ratings(rating):
    if 'k' in rating.lower():
        return int(float(rating[:-1]) * 1000)
    elif 'm' in rating.lower():
        return int(float(rating[:-1]) * 1000000)
    else:
        return int(float(rating))

In [245]:
df['User Rating'] = df['User Rating'].apply(convert_user_ratings).astype('int')

In [246]:
index = df[df['User Rating']<=100].index

In [247]:
df.drop(index,axis=0,inplace=True)

In [248]:
df[df['User Rating']<=2000]

,title,User Rating,movie_id,tags
7,Interceptor,819,tt14174940,When Special forces agent Matvey Sobolev survi...
10,Thor: Love and Thunder,926,tt10648342,"Thor enlists the help of Valkyrie, Korg and ex..."
18,Bullet Train,1300,tt12593682,Criminals plant a bomb on a high-speed train. ...
29,Prey,961,tt11866324,PREY tells the story of Nathan (BEAU TRAVAIL'S...
32,Ambulance,1400,tt4998632,Two brothers commit a robbery out of desperati...
...,...,...,...,...
24363,Down Under,944,tt4463120,A black comedy set during the aftermath of the...
24370,Lies We Tell,569,tt4423984,A trusted driver must deal with his dead boss'...
24371,Psychosis,2000,tt1351784,A serial killer unleashes his blood lust at a ...
24382,Easy Does It,221,tt4120762,Two best friends and their accidental hostage ...
24384,Deidra & Laney Rob a Train,1900,tt4144332,"After their mother ends up in jail, two sister..."

In [249]:
df

,title,User Rating,movie_id,tags
0,Top Gun: Maverick,187000,tt1745960,After more than thirty years of service as one...
1,Jurassic World Dominion,56000,tt8041270,Four years after the destruction of Isla Nubla...
3,Lightyear,32000,tt10298810,While spending years attempting to return home...
4,Spiderhead,23000,tt9783600,"In the near future, convicts are offered the c..."
5,Everything Everywhere All at Once,124000,tt6710474,An aging Chinese immigrant is swept up in an i...
...,...,...,...,...
24384,Deidra & Laney Rob a Train,1900,tt4144332,"After their mother ends up in jail, two sister..."
24390,The Producers,43000,tt0395251,"After putting together another Broadway flop, ..."
24391,Screwed,9100,tt0156323,A chauffeur kidnaps his rich boss's dog to hol...
24392,Home Sweet Home Alone,16000,tt11012066,A married couple tries to steal back a valuabl...
24393,Balls of Fury,43000,tt0424823,Down-and-out former professional ping-pong phe...

## Feature Extraction

In [250]:
# lowercasing
df['tags'] = df['tags'].apply(lambda text: str.lower(text))

In [251]:
import nltk
from nltk.stem import PorterStemmer

In [252]:
ps = PorterStemmer()

In [253]:
def stems(text):
  T = [ps.stem(i) for i in text.split()]
  return " ".join(T)

In [254]:
df['tags'] = df['tags'].apply(stems)

In [255]:
df['tags'][0]

"after more than thirti year of servic as one of the navy' top aviators, pete mitchel is where he belongs, push the envelop as a courag test pilot and dodg the advanc in rank that would ground. fighter jet, sequel, u.s. navy, fighter aircraft, pilot, naval aviation, jet fighter, militari pilot, aviation, aircraft action, drama joseph kosinski jack epp jr., peter craig, tom cruise, jennif connelly, mile teller"

In [256]:
# df.to_csv('25K_movies_preprocessed.csv', index=False)

import pandas as pd
df=pd.read_csv('/content/25K_movies_preprocessed.csv')

### Bag of Words

In [171]:
import string

In [174]:
# Apply the function to the 'tags' column
def remove_punctuation(text):
    return text.translate(str.maketrans('', '', string.punctuation))

# Apply the function to the 'tags' column
df['tags'] = df['tags'].apply(remove_punctuation)

In [257]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [258]:
vector = cv.fit_transform(df['tags']).toarray()

In [259]:
vector.shape

(12562, 5000)

In [260]:
from scipy.sparse import csr_matrix

# Assuming vector is a sparse matrix
sparse_vector = csr_matrix(vector)

In [261]:
from sklearn.metrics.pairwise import cosine_similarity

In [262]:
similarity = cosine_similarity(vector)

In [263]:
type(similarity)

numpy.ndarray

In [264]:
similarity.dtype

dtype('float64')

In [265]:
movies_similarity= similarity.astype('float32')
# movies_similarity=similarity

In [266]:
movies_similarity.shape

(12562, 12562)

In [285]:
movies_similarity[0]

array([1.        , 0.05241424, 0.06497221, ..., 0.        , 0.02575131,
       0.        ], dtype=float32)

In [267]:
def recommend(movie):
  index = df[df['title']==movie].index[0]
  distances = sorted(list(enumerate(movies_similarity[index])),reverse=True, key=lambda x:x[1])
  for i in distances[1:6]:
    print(df.iloc[i[0]].title, df.iloc[i[0]].movie_id)

In [268]:
recommend('Top Gun: Maverick')

Captain Nova tt14915608
Burning Blue tt1811307
Flyboys tt0454824
Behind Enemy Lines tt0159273
Greyhound Attack tt9685652

In [187]:
recommend('Top Gun: Maverick')

Captain Nova tt14915608
Behind Enemy Lines tt0159273
Burning Blue tt1811307
Flyboys tt0454824
Greyhound Attack tt9685652

In [170]:
recommend('Thor')

Mission: Impossible III tt0317919
Inferno tt3062096
Hatchet II tt1270835
Predestination tt2397535
Avengers: Endgame tt4154796

In [278]:
recommend('Spartan')

I Flip You Off for Four Hours tt13168272
Bullitt County tt6140148
The Rangers: Bloodstone tt8631432
Daughter of the Wolf tt7615052
Wet Hot American Summer tt0243655

In [282]:
recommend('The Dark Knight')

Batman Begins tt0372784
The Dark Knight Rises tt1345836
The Prestige tt0482571
Inception tt1375666
Interstellar tt0816692

In [307]:
import pickle
pickle.dump(df,open('movie_list1.pkl','wb'))
pickle.dump(movies_similarity,open('new_movie_similarity_with_5000.pkl','wb'))

In [ ]:
from google.colab import files

In [ ]:
files.download('/content/new_movie_similarity.pkl')

In [288]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel


# Initialize the TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words='english')

# Fit and transform the 'tags' column
tfidf_matrix = tfidf_vectorizer.fit_transform(df['tags'].fillna(''))

# Compute the cosine similarity between movies
cosine_similarity = linear_kernel(tfidf_matrix, tfidf_matrix)


# Function to get movie recommendations based on TF-IDF
def recommend_movies(movie_title, cosine_sim=cosine_similarity, df=df):
    # Get the index of the movie
    movie_index = df[df['title'] == movie_title].index[0]

    # Get the pairwise similarity scores with other movies
    similarity_scores = list(enumerate(cosine_sim[movie_index]))

    # Sort the movies based on similarity scores
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

    # Get the top 5 recommended movies
    recommended_movies = [(df.iloc[i[0]].title, df.iloc[i[0]].tags) for i in similarity_scores[1:6]]

    return recommended_movies

Top 5 recommended movies for 'Iron Man':
('Iron Man 2', "with the world now awar of hi ident as iron man, toni stark must contend with both hi declin health and a veng mad man with tie to hi father' legacy.. superhero, billionaire, power suit, base on comic book, marvel comics, sequel, base on comic, toni stark character, 2010s, 2000 action, adventure, sci-fi jon favreau stan lee, don heck, robert downey jr., mickey rourke, gwyneth paltrow")
('Spider-Man: Homecoming', 'peter parker balanc hi life as an ordinari high school student in queen with hi superhero alter-ego spider-man, and find himself on the trail of a new menac prowl the sky of new york city.. marvel cinemat universe, superhero, reboot, base on comic book, marvel comics, avengers, mentor, teenag superhero, blockbuster, base on comic action, adventure, sci-fi jon watt john franci daley, jon watts, tom holland, michael keaton, robert downey jr.')
('Captain America: Civil War', "polit involv in the avengers' affair caus a rift between captain america and iron man.. marvel cinemat universe, base on comic book, superhero, siberia, friendship between men, charact name in title, romania, base on comic, accountability, new york citi action, adventure, sci-fi anthoni russo christoph markus, stephen mcfeely, joe simon, chri evans, robert downey jr.")
('Avengers: Age of Ultron', "when toni stark and bruce banner tri to jump-start a dormant peacekeep program call ultron, thing go horribl wrong and it' up to earth' mightiest hero to stop the villain ultron from enact hi terribl plan.. superhero, marvel cinemat universe, artifici intelligence, hallucination, superhero team, base on comic book, robot, final battle, megalomaniac, scienc run amok action, adventure, sci-fi joss whedon stan lee, jack kirby, robert downey jr., chri evans, mark ruffalo")
('Avengers: Infinity War', 'the aveng and their alli must be will to sacrific all in an attempt to defeat the power thano befor hi blitz of devast and ruin put an end to the universe.. death of recur character, supervillain, superhero, ensembl cast, marvel cinemat universe, marvel comics, wakanda, infin stone, good versu evil, fli superhero action, adventure, sci-fi anthoni russo christoph markus, stephen mcfeely, stan lee, robert downey jr., chri hemsworth')

In [306]:
# Example: Get recommendations for a movie
movie_title = 'The Lord of the Rings: The Fellowship of the Ring'
recommendations = recommend_movies(movie_title)
print(f"Top 5 recommended movies for '{movie_title}':")
for rec in recommendations:
    print(rec)

Top 5 recommended movies for 'The Lord of the Rings: The Fellowship of the Ring':
('The Lord of the Rings: The Return of the King', "gandalf and aragorn lead the world of men against sauron' armi to draw hi gaze from frodo and sam as they approach mount doom with the one ring.. epic, orc, hobbit, ring, middl earth, battle, quest, journey, wizard, good versu evil action, adventure, drama peter jackson fran walsh, philippa boyens, elijah wood, viggo mortensen, ian mckellen")
('The Lord of the Rings: The Two Towers', "while frodo and sam edg closer to mordor with the help of the shifti gollum, the divid fellowship make a stand against sauron' new ally, saruman, and hi hord of isengard.. middl earth, hobbit, epic, wizard, mission, orc, evil wizard, tower, presum dead, lord of the ring action, adventure, drama peter jackson fran walsh, philippa boyens, elijah wood, ian mckellen, viggo mortensen")
('The Hobbit: The Battle of the Five Armies', 'bilbo and compani are forc to engag in a war against an array of combat and keep the lone mountain from fall into the hand of a rise darkness.. middl earth, army, epic, hobbit, epic battle, elf, orc, ruins, love, honor adventure, fantasi peter jackson philippa boyens, peter jackson, ian mckellen, martin freeman, richard armitag')
('The Hobbit: An Unexpected Journey', 'a reluct hobbit, bilbo baggins, set out to the lone mountain with a spirit group of dwarv to reclaim their mountain home, and the gold within it from the dragon smaug.. wizard, hobbit, dragon, orc, sword and sorcery, eagle, elf, lord of the rings, epic, mountain adventure, fantasi peter jackson philippa boyens, peter jackson, martin freeman, ian mckellen, richard armitag')
('The Hobbit: The Desolation of Smaug', 'the dwarves, along with bilbo baggin and gandalf the grey, continu their quest to reclaim erebor, their homeland, from smaug. bilbo baggin is in possess of a mysteri and magic ring.. lord of the rings, middl earth, sequel, epic, sequel to prequel, dragon, giant spider, hobbit, fli dragon, wing dragon adventure, fantasi peter jackson philippa boyens, peter jackson, ian mckellen, martin freeman, richard armitag')